body {
    padding-left: 15px;
    font-size: medium;
    background-color: black;
    color: white;
}

.case {
    background-color: #222222;
    padding: 15px ;
    border-radius: 5px;
    margin: 15px;
    height: 200px;
}

a {
    color: orange;
}

.page-header {
    text-align: center;
}