{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>
        <a href="/">{{ animal.id_animal }}</a>
    </h1>
    <p>
        {% with 'img/'|add:animal.id_animal|add:'.png' as pathimage %}
        <img src="{% static pathimage %}">
        {% endwith %}
    </p>
</div>
<div class="text-center">
    <p>
        <form method="POST" class="post-form">{% csrf_token %}
            <b>Changer : </b>{{ form.as_ul }}
            <button type="submit" class="btn btn-outline-light">OK</button>
            <a href="{% url 'animal_list' %}">Back</a>
        </form>
    </p>
</div>
{% if message != ''%}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
{% endif %}
{% if message == 'OK'%}
    <div class="alert alert-success" role="alert">
        Modifications effectuées
    </div>
{% endif %}
{% endblock %}