{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>
        <a href="/">{{ animal.id_animal }}</a>
    </h1>
    <p>
        {% with 'img/'|add:animal.id_animal|add:'.png' as pathimage %}
        <img src="{% static pathimage %}">
        {% endwith %}
    </p>
</div>
<div class="text-center">
    <p>
        <form method="POST" class="post-form">{% csrf_token %}
            <b>Changer : </b>{{ form.as_ul }}
            <button type="submit" class="bouton">OK</button>
            <a href="{% url 'animal_list' %}" class="bouton">Back</a>
        </form>
    </p>
</div>
{% if messages %}
    {% for message in messages %}
        <div class="{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

{% endblock %}