{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
    <div class="page-header">
        <h1><a href="/">Bienvenue à l'animalerie</a></h1>
    </div>
    {% for animal in animaux %}
        <div class="row"><p>
            <div class="col-md-6">
                <a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a>
            </div>
            <div class="col-md-3">
                {{ animal.etat }}
            </div>
            <div class="col-md-3">
                {{ animal.lieu }}
            </div>
        </p></div>
    {% endfor %}
{% endblock %}