{% extends 'animalerie/base.html' %}

{% block content %}
    <div class="page-header">
        <h1><a href="/">Bienvenue à l'animalerie</a></h1>
    </div>
    {% for animal in animaux %}
        <div class="row"><p>
            <div class="col-md-6">
                {{ animal.id_animal }}
            </div>
            <div class="col-md-3">
                {{ animal.etat }}
            </div>
            <div class="col-md-3">
                {{ animal.lieu }}
            </div>
        </p></div>
    {% endfor %}
{% endblock %}